{% extends 'eventsapp/base.html' %}
{% load static %}

{% block title %}
    <title>My Awesome Blog</title>
{% endblock %}

{% block content %}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <p class="lead text-muted">Hello there. I'm glad to see you!</p>
                    <p class="lead text-muted">You can write me right now!</p>
                    <p>
                        <a href="mailto:muralhakuzmenko@gmail.com" class="btn btn-primary my-2">Mail me!</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for event in events.all %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="card-img-top" src="{{ event.evt_image.url }}" alt="">

                                <div class="card-body">
                                    <p class="card-text">{{ event.evt_short_description }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>
{% endblock %}
